.GPT {
    margin: 200px 5;
    color: rgb(108, 198, 188);

    font-family: unset;
    font-size: 200%;
    right: 10px;
    padding: 50px;
    text-align:left;
    margin-left: 90px;
}

body {
    background-color: black;
}

.boneco {
    position: absolute;
    left: 60%;
    top: 30%;
    right: 50px;
    margin-left: -70px;
}

.elemento {
    width: 100px;
    height: 100px;
    float: right;
    margin-left: 100px;
    border: 10px solid rgb(240, 239, 239);
}

.caixas {
    position: absolute;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 120px;
}

.botao {
    color: black;
    background: #0066A2;
    position: relative;
}

.chat-history {
    background: rgb(76, 73, 73);
    width: 700px;
    height: 300px;
    overflow: scroll;
    padding: 10px 20px;
    margin-left: -20px;
}


